[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
	co = commit
	ca = commit -a
	ap = add --patch
	dt = difftool
	dtc = difftool --cached
  unstage = reset HEAD

  # List contributors
  who = shortlog -s
  
  # Find branches containing commit
  fb = "!f() { git branch -a --contains $1; }; f"

  # Find tags containing commit
  ft = "!f() { git describe --always --contains $1; }; f"

  # Print last commit
  last = log -1

[branch]
	autosetuprebase = always

[push]
	default = simple

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[diff]
	tool = kdiff3

[difftool]
	prompt = false

[difftool "kdiff3"]
	path = /usr/local/bin/kdiff3

[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3

