[user]
	name = Thomas Kunz
	email = tfk@gmx.de 

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	st = status
	co = commit
	ca = commit -a
	ap = add --patch
	dt = difftool
	dtc = difftool --cached
[diff]
	tool = kdiff3

[difftool]
	prompt = false

[difftool "kdiff3"]
	path = /usr/local/bin/kdiff3

[mergetool "kdiff3"]
	path = /usr/local/bin/kdiff3

[branch]
	autosetuprebase = always

[push]
	default = simple
