# Ideas from: https://github.com/nicksp/dotfiles/blob/master/shell/inputrc
# autocomplete regardless of filename case
set completion-ignore-case on

# do not complete hidden files
set match-hidden-files off

# when in the middle of a word, don't duplicate characters behind the cursor
set skip-completed-text on

# do not ring the bell if there are many completions 
set show-all-if-ambiguous on

# disable expansion of tilde to /Users/... or /home/... 
set expand-tilde off 

# disable beeping and window flashing
set bell-style none

# append file-type character to the filename when autocompleting
set visible-stats on

# colorize file-name by type when autocompleting
set colored-stats on

# append / to symlinked directories when autocompleting
set mark-symlinked-directories on

# if more than 200 completions are found ask user for listing (default: 100)
set completion-query-items 200

# Use the text that has already been typed as the prefix for searching through
# commands (basically more intelligent Up/Down behavior)
"\e[B": history-search-forward
"\e[A": history-search-backward

# Ctrl + Left/Right for jumping between words on linux
"\e[1;5C": forward-word
"\e[1;5D": backward-word 

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off
